<!DOCTYPE html>
<html ng-app="SmartShoppingList">
<head>
    <title>Easy List</title>
    <meta http-equiv="Content-Security-Policy">

    <!--
    CSS
    -->
    <link rel="stylesheet" href="./css/dpNumberPicker-2.x-skin.grey.css"/>
    <link rel="stylesheet" href="./bootstrap/bootstrap.css"/>
    <link rel="stylesheet" href="./JQuery/jquery.mobile-1.4.5.min.css"/>
    <link rel="stylesheet" href="./JQuery/jquery.mobile.theme-1.4.5.min.css"/>

    <link rel="stylesheet" href="./css/easyListStyling.css"/>

    <!--
    Scripts
    -->
    <script src="./JQuery/jquery-2.1.4.min.js"></script>
    <script src="./JQuery/jquery.mobile-1.4.5.min.js"></script>
    <script src="./angular/angular.min.js"></script>
    <script src="./js/energize-min.js"></script>
    <script src="./js/dpNumberPicker-2.x.js"></script>
    <script src="./Parse/parse-1.4.2.min.js"></script>
    <script src="js/underscore.js"></script>
    <script src="js/listContentParse.js"></script>
    <script src="js/easyList.js"></script>


</head>
<body id="shoppingListController" ng-controller="ShoppingListController as list">

<div data-role="page" data-theme="c" data-content-theme="c">
    <!--
     Menu
    -->
    <div id="menuPanel" data-role="panel" data-position="left">
        <h3>Menu</h3>
        <a href="#" data-rel="close"
           class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close
        </a>

        <ul data-role="listview" data-theme="d" data-divider-theme="a" style="margin-top:-16px;" class="nav-search">
            <li>
                <a ng-click="navigateToUserLists()">My Lists</a>
            </li>

            <li>
                <a ng-click="shareListOptions()">{{isListAdmin ? 'Share List' : 'Show Shared Friends'}}</a>
            </li>
            <li>
                <a onclick="logOut()">Logout</a>
            </li>
            <li>
                <a onclick="exitApp()">Exit</a>
            </li>
        </ul>
    </div>

    <!--
    Add Product Panel
    -->
    <div id="addProductPanel" data-role="panel" data-position="right">
        <h3>Add Product</h3>

        <form ui-filterable ng-submit="list.addProduct(productCategory, productName, productQuantity)">
            <a href="#" data-rel="close" ng-click="clearAddProductFields()"
               class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close
            </a>
            <label for="productName">Product Name:</label>
            <input name="productName" id="productName" data-type="search" placeholder="Search Product..."
                   onkeyup="showProductsFilter()"
                   ng-model="productName" ng-change="hideInvalidInputMessage()">
            <ul id="productsFilter" data-role="listview" data-filter="true" data-filter-reveal="true"
                data-input="#productName">
                <li ng-repeat="product in productTemplates.products" ng-click="autocompleteProductSelected(product)">
                    <a href="#"> {{product.productName}} </a>
                </li>
            </ul>

            <label for="productCategory">Product Category:</label>
            <input name="productCategory" id="productCategory" data-type="search" placeholder="Search Category..."
                   onkeyup="showCategoriesFilter()"
                   ng-model="productCategory" ng-change="hideInvalidInputMessage()">
            <ul id="categoriesFilter" data-role="listview" data-filter="true" data-filter-reveal="true"
                data-input="#productCategory">
                <li ng-repeat="category in productTemplates.categories"
                    ng-click="autocompleteCategorySelected(category)">
                    <a href="#"> {{category}} </a>
                </li>
            </ul>

            <label for="productQuantity">Product Quantity:</label>
            <input type="number" name="productQuantity" pattern="[0-9]*" id="productQuantity" data-clear-btn="true"
                   value="1" min="1" ng-model="productQuantity" ng-change="hideInvalidInputMessage()">

            <button type="submit" data-theme="b">Add Product</button>
            <div id="invalidInputMessage" class="alert alert-danger" role="alert" hidden style="text-align: center">
                <strong> </strong>
            </div>
        </form>
    </div>

    <!--
     Header
    -->
    <div data-role="header" data-theme="a">
        <a id="menuButton" href="#menuPanel"
           class="ui-btn ui-shadow ui-corner-all ui-btn-inline ui-btn-icon-left ui-icon-bars">Menu</a>

        <h1>{{listName}}</h1>
        <a id="addProductButton" href="#addProductPanel" data-icon="plus" ng-show="isListAdmin">Add Item</a>
    </div>

    <!--
     Shopping List
    -->
    <div data-role="main" id="categories" class="ui-content">
        <ul id="{{category.categoryName}}" data-role="listview" data-inset="true"
            ng-repeat="category in listContent">
            <li data-role="list-divider" data-theme="b">
                {{category.categoryName}}
                <span class="ui-li-count">{{category.products.length}}</span>
            </li>
            <li>
                <ul data-role="listview" data-split-theme="b" data-inset="true"
                    ng-repeat="product in category.products">

                    <!-- Not List Admin & Not Product Owner -->
                    <li ng-show=!checkIfToShowProductOptions(product)
                        class='{{product.productName}} done-{{product.productChecked}}'
                        data-icon="{{list.getIconInInvertedList(product)}}">
                        <a ng-click="!isOwnerOfProduct(product) || list.itemClicked(product)">
                            <img class="productImage" src="{{product.productImage}}" alt="{{product.productName}}">

                            <h2>
                                {{product.productName}}
                            </h2>

                            <p>Quantity: {{product.productQuantity}}</p>

                            <p>Owner Name: {{product.ownerFullName === null ? "No Owner" :
                                product.ownerFullName}}</p>
                        </a>
                        <!-- Not Product Owner -->
                        <a href="#" data-theme="b"></a>
                    </li>

                    <!-- List Admin Or Product Owner -->
                    <li ng-show=checkIfToShowProductOptions(product)
                        class='{{product.productName}} done-{{product.productChecked}}'
                        data-icon="{{list.getIconInInvertedList(product)}}">
                        <a ng-click="!isOwnerOfProduct(product) || list.itemClicked(product)">
                            <img class="productImage" src="{{product.productImage}}" alt="{{product.productName}}">

                            <!-- If not in edit mode-->
                            <div ng-show=!list.inEditMode>
                                <h2>
                                    {{product.productName}}
                                </h2>

                                <p>Quantity: {{product.productQuantity}}</p>

                                <p>Owner Name: {{product.ownerFullName === null ? "No Owner" :
                                    product.ownerFullName}}</p>
                            </div>
                            <!-- On Edit Mode-->
                            <div ng-show=list.inEditMode>
                                <h2>
                                    {{product.productName}}
                                    <p ng-show=product.productChecked>Quantity : {{product.productQuantity}}</p>

                                    <div ng-show=!product.productChecked class="quantity">
                                        <label for="quantity{{product.objectId}}">Quantity:</label>

                                        <div id="quantity{{product.objectId}}"></div>
                                    </div>

                                    <p>Owner Name: {{product.ownerFullName === null ? "No Owner" :
                                        product.ownerFullName}}</p>
                                </h2>
                            </div>
                        </a>
                        <!-- Product Owner -->
                        <a class="productOptionsPopup"
                           href="{{ list.inEditMode ? '' : '#productOptionsPopup' }}"
                           data-rel="{{list.inEditMode ? '' : (product.productChecked ?  '' : 'popup')}}"
                           data-position-to="window" data-transition="pop" data-theme="{{list.getTheme(product)}}"
                           ng-click="list.productAction(product)">
                        </a>
                    </li>

                </ul>
            </li>
        </ul>
        <div id="emptyListItem" class="alert alert-info" role="alert" hidden style="text-align: center"><strong> No
            Products In Here!</strong></div>
    </div>

    <!--
    Option Popup
    -->
    <div data-role="popup" id="productOptionsPopup" data-theme="b" data-overlay-theme="b" class="ui-content"
         style="max-width:340px; padding-bottom:2em;">

        <a href="#" data-rel="back"
           class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>

        <h3>{{list.selectedProduct.productName}}</h3>

        <p>Change/Add product photo.</p>
        <a href="#" id="choosePhoto" data-rel="back"
           class="ui-shadow ui-btn ui-corner-all ui-btn-b ui-icon-check ui-btn-icon-left ui-btn-inline ui-mini"
           ng-click="list.changePhoto(list.selectedProduct, 0)">Choose a photo from library
        </a>
        <a href="#" id="takePhoto" data-rel="back"
           class="ui-shadow ui-btn ui-corner-all ui-btn-b ui-icon-camera ui-btn-icon-left ui-btn-inline ui-mini"
           ng-click="list.changePhoto(list.selectedProduct, 1)">Take a photo
        </a>
        <a href="#" id="changeProductOwner" data-rel="back"
           class="ui-shadow ui-btn ui-corner-all ui-btn-b ui-icon-user ui-btn-icon-left ui-btn-inline ui-mini"
           ng-click="showChangeProductOwnerOptions()" ng-show=isListAdmin>Change Owner
        </a>

    </div>

    <!--
    Image Popup
    -->
    <div data-role="popup" id="productImagePopUp" data-overlay-theme="b" data-theme="b" data-corners="true">
        <a href="#" data-rel="back"
           class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
        <img class="popphoto" src="" style="max-height:512px;" alt="">
    </div>

    <!--
     Notify Friends Popup
     -->
    <div data-role="popup" id="notifyFriendsPopUp" data-overlay-theme="b" data-theme="b" data-corners="true">
        <a href="#" data-rel="back" ng-click="clearNotifyFriendsFields()"
           class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">
            Close
        </a>

        <form ng-submit="notifyFriends()">
            <h3>Enter Text : </h3>
            <textarea id="notifyText" data-clear-btn="true" cols="30" rows="5"
                      placeholder="I'm on my way to the supermarket. Last chance for changes!"
                      ng-model="notifyText"></textarea>
            <button type="submit">Send Message To Friends!</button>
        </form>
    </div>

    <!--
    Share List Popup
     -->
    <div data-role="popup" id="shareListPopUp" class="popupParent" data-theme="d" data-overlay-theme="d">
        <a href="#" data-rel="back"
           class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">
            Close
        </a>
        <ul data-role="listview" data-inset="true">
            <li data-role="list-divider" data-theme="b">
                Not Shared Facebook Friends
            </li>
            <li>
                <ul data-role="listview" data-split-theme="b" data-inset="true"
                    ng-repeat="myFacebookFriend in notSharedFacebookFriends">
                    <li data-icon="carat-r">
                        <a ng-click="toggleUnSharedFriend(myFacebookFriend)">
                            <img src="{{myFacebookFriend.facebookFriendPicture}}"
                                 alt="{{myFacebookFriend.facebookFriendName}}">

                            <div>
                                <h2>
                                    {{myFacebookFriend.facebookFriendName}}
                                </h2>
                            </div>
                        </a>
                        <a ng-click="toggleUnSharedFriend(myFacebookFriend)"></a>
                    </li>
                </ul>
            </li>
            <li data-role="list-divider" data-theme="b">
                Shared Friends
            </li>
            <li>
                <ul data-role="listview" data-split-theme="f" data-inset="true"
                    ng-repeat="myFacebookFriend in sharedFacebookFriends">
                    <li data-icon="check">
                        <a ng-click="toggleSharedFriend(myFacebookFriend)">
                            <img src="{{myFacebookFriend.facebookFriendPicture}}"
                                 alt="{{myFacebookFriend.facebookFriendName}}">

                            <div>
                                <h2>
                                    {{myFacebookFriend.facebookFriendName}}
                                </h2>
                            </div>
                        </a>
                        <a ng-click="toggleSharedFriend(myFacebookFriend)"></a>
                    </li>
                </ul>
            </li>
        </ul>
        <a href="#" data-rel="back"
           class="ui-shadow ui-btn ui-corner-all ui-btn-b ui-icon-check ui-btn-icon-left ui-btn-inline ui-mini"
           ng-click="saveShareListChanges()">
            Save Changes
        </a>
        <a href="#" data-rel="back"
           class="ui-shadow ui-btn ui-corner-all ui-btn-b ui-icon-delete ui-btn-icon-left ui-btn-inline ui-mini"
           ng-click="cancelShareListChanges()">
            Cancel
        </a>
    </div>

    <!--
    Change Product Owner Popup
     -->
    <div data-role="popup" id="changeProductOwnerPopUp" data-theme="d" data-overlay-theme="d">
        <a href="#" data-rel="back"
           class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">
            Close
        </a>
        <ul data-role="listview" data-inset="true">
            <li data-role="list-divider" data-theme="b">
                Choose Product Owner
            </li>
            <li>
                <ul data-role="listview" data-split-theme="b" data-inset="true"
                    ng-repeat="myFacebookFriend in sharedFacebookFriends">
                    <li data-icon="carat-r">
                        <a ng-click="list.changeProductOwner(myFacebookFriend)">
                            <img src="{{myFacebookFriend.facebookFriendPicture}}"
                                 alt="{{myFacebookFriend.facebookFriendName}}">

                            <h2>
                                {{myFacebookFriend.facebookFriendName}}
                            </h2>
                        </a>
                        <a ng-click="list.changeProductOwner(myFacebookFriend)"></a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <!--
    Show Shared Users Popup
     -->
    <div data-role="popup" id="showSharedUsersPopUp" data-theme="d" data-overlay-theme="d">
        <a href="#" data-rel="back"
           class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">
            Close
        </a>
        <ul data-role="listview" data-inset="true">
            <li data-role="list-divider" data-theme="b">
                Shared Friends
            </li>
            <li>
                <ul data-role="listview" data-split-theme="b" data-inset="true"
                    ng-repeat="myFacebookFriend in sharedFacebookFriends">
                    <li>
                        <img src="{{myFacebookFriend.facebookFriendPicture}}"
                             alt="{{myFacebookFriend.facebookFriendName}}">

                        <div>
                            <h2>
                                {{myFacebookFriend.facebookFriendName}}
                            </h2>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <!--
    Footer
    -->
    <div data-role="footer" data-position="fixed" data-theme="a" data-tap-toggle="false">
        <div data-role="navbar">

            <ul ng-show=list.inEditMode>
                <li>
                    <a id='saveListButton'
                       class="editSaveButton"
                       data-icon="check"
                       ng-click="emptyList || list.executeEditOrSaveFunction()">
                        Save List
                    </a>
                </li>
                <li>
                    <a id="cancelEditListButton"
                       data-icon="delete"
                       ng-click="list.cancelEditListChanges()">
                        Cancel
                    </a>
                </li>
            </ul>

            <!-- If not in edit mode-->
            <ul ng-show=!list.inEditMode>
                <li>
                    <a id="editListButton"
                       class="editSaveButton"
                       data-icon="edit"
                       ng-click="emptyList || list.executeEditOrSaveFunction()">
                        Edit List
                    </a>
                </li>
                <li>
                    <div ng-show=!list.inEditMode>
                        <a id="notifyFriendsButton" href="#notifyFriendsPopUp" data-icon="comment" data-rel="popup" data-position-to="window"
                           data-transition="pop">
                            Notify Friends</a>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</div>

<script src='cordova.js' type='text/javascript'></script>
<script src="js/listContentApp.js"></script>

</body>

</html>