<!DOCTYPE html>
<html ng-app="SmartShoppingList">
<head>
    <title>Easy List</title>
    <meta http-equiv="Content-Security-Policy">

    <!--
    CSS
    -->
    <link rel="stylesheet" href="./JQuery/jquery.mobile-1.4.5.min.css"/>
    <link rel="stylesheet" href="./JQuery/jquery.mobile.theme-1.4.5.min.css"/>
    <link rel="stylesheet" href="./css/dpNumberPicker-2.x-skin.grey.css"/>
    <link rel="stylesheet" href="./css/easyListStyling.css"/>

    <!--
    Scripts
    -->
    <script src="./JQuery/jquery-2.1.4.min.js"></script>
    <script src="./JQuery/jquery.mobile-1.4.5.min.js"></script>
    <script src="./angular/angular.min.js"></script>
    <script src="./js/energize-min.js"></script>
    <script src="./js/dpNumberPicker-2.x.js"></script>
    <script src="./Parse/parse-1.4.2.min.js"></script>
    <script src="js/listContentParse.js"></script>
    <script src="js/facebook-sdk.js"></script>


</head>
<body id="shoppingListController" ng-controller="ShoppingListController as list">

<div data-role="page" data-theme="c" data-content-theme="c">
    <!--
     Menu
    -->
    <div id="menuPanel" class="panel" data-role="panel" data-position="left">
        <h3>Menu</h3>
        <a href="#" data-rel="close"
           class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close
        </a>

        <ul data-role="listview" data-theme="d" data-divider-theme="a" style="margin-top:-16px;" class="nav-search">
            <li>
                <a ng-click="navigateToUserLists()">My Lists</a>
            </li>

            <li>
                <a ng-click="getFacebookFriendsDetails()">Share List</a>
            </li>
            <li>
                <a ng-click="logOut()">Logout</a>
            </li>
        </ul>
    </div>

    <!--
    Add Product Panel
    -->
    <div id="addProductPanel" class="panel" data-role="panel" data-position="right">
        <h3>Add Product</h3>

        <form ng-submit="list.addProduct(productCategory, productName, productQuantity)">
            <a href="#" data-rel="close" ng-click="clearAddProductFields()"
               class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close
            </a>

            <label for="productName">Product Name:</label>
            <input type="text" name="productName" id="productName" data-clear-btn="true" placeholder="Product Name..."
                   required="true" ng-model="productName">

            <label for="productCategory">Product Category:</label>
            <input type="text" name="productCategory" id="productCategory" data-clear-btn="true"
                   placeholder="Product Category..." required ng-model="productCategory">

            <label for="productQuantity">Product Quantity:</label>
            <input type="number" name="productQuantity" pattern="[0-9]*" id="productQuantity" data-clear-btn="true"
                   value="1" required ng-model="productQuantity">

            <button type="submit" data-theme="b">Add Product</button>
        </form>
    </div>


    <!--
     Header
    -->
    <div data-role="header" data-theme="a">
        <a id="menuButton" href="#menuPanel"
           class="ui-btn ui-shadow ui-corner-all ui-btn-inline ui-btn-icon-left ui-icon-bars">Menu</a>

        <h1>Easy List</h1>
        <a id="addProductButton" href="#addProductPanel" data-icon="plus">Add Product</a>
    </div>

    <!--
     Shopping List
    -->
    <div data-role="main" id="categories" class="ui-content">
        <ul id="{{category.categoryName}}" data-role="listview" data-inset="true"
            ng-repeat="category in list.listContent">
            <li data-role="list-divider" data-theme="b">
                {{category.categoryName}}
                <span class="ui-li-count">{{category.products.length}}</span>
            </li>
            <li>
                <ul data-role="listview" data-split-theme="b" data-inset="true"
                    ng-repeat="product in category.products">
                    <li class='{{product.productName}} done-{{product.productChecked}}'
                        data-icon="{{list.getIcon(product)}}">
                        <a ng-click="list.itemClicked(product)">
                            <img class="productImage" src="{{product.productImage}}" alt="{{product.productName}}">

                            <!-- If not in edit mode-->
                            <div ng-show=!list.inEditMode>
                                <h2>
                                    {{product.productName}}
                                </h2>

                                <p>Quantity: {{product.productQuantity}}</p>
                            </div>
                            <!-- On Edit Mode-->
                            <div ng-show=list.inEditMode>
                                <h2>
                                    {{product.productName}}
                                    <p ng-show=product.productChecked>Quantity : {{product.productQuantity}}</p>

                                    <div ng-show=!product.productChecked class="quantity">
                                        <label for="quantity{{product.objectId}}">Quantity:</label>

                                        <div id="quantity{{product.objectId}}"></div>
                                    </div>
                                </h2>
                            </div>

                        </a>
                        <a class="productOptionsPopup"
                           href="{{ list.inEditMode ? '#confirmProductDeletePopUp' : '#productOptionsPopup' }}"
                           data-rel="{{list.inEditMode ? 'popup' : (product.productChecked ?  '' : 'popup')}}"
                           data-position-to="window" data-transition="pop" data-theme="{{list.getTheme(product)}}"
                           ng-click="list.updateSelectedProduct(product)">
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <!--
    Option Popup
    -->
    <div data-role="popup" id="productOptionsPopup" data-theme="b" data-overlay-theme="b" class="ui-content"
         style="max-width:340px; padding-bottom:2em;">

        <a href="#" data-rel="back"
           class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>

        <h3>{{list.selectedProduct.productName}}</h3>

        <p>Change/Add product photo.</p>
        <a href="index.html" id="choosePhoto" data-rel="back"
           class="ui-shadow ui-btn ui-corner-all ui-btn-b ui-icon-check ui-btn-icon-left ui-btn-inline ui-mini"
           ng-click="list.changePhoto(list.selectedProduct, 0)">Choose a photo from library
        </a>
        <a href="index.html" id="takePhoto" data-rel="back"
           class="ui-shadow ui-btn ui-corner-all ui-btn-b ui-icon-camera ui-btn-icon-left ui-btn-inline ui-mini"
           ng-click="list.changePhoto(list.selectedProduct, 1)">Take a photo
        </a>
    </div>

    <!--
    Image Popup
    -->
    <div data-role="popup" id="productImagePopUp" data-overlay-theme="b" data-theme="b" data-corners="true">
        <a href="#" data-rel="back"
           class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
        <img class="popphoto" src="" style="max-height:512px;" alt="">
    </div>

    <!--
    Confirm Product Delete
    -->
    <div data-role="popup" id="confirmProductDeletePopUp" data-overlay-theme="b" data-theme="b" data-corners="true">
        <a href="#" data-rel="back"
           class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>

        <h3>Are you sure you want to delete the product {{list.selectedProduct.productName}} ?</h3>
        <a href="index.html" data-rel="back"
           class="ui-shadow ui-btn ui-corner-all ui-btn-b ui-icon-check ui-btn-icon-left ui-btn-inline ui-mini"
           ng-click="list.removeSelectedProduct()">
            Yes
        </a>
        <a href="index.html" data-rel="back"
           class="ui-shadow ui-btn ui-corner-all ui-btn-b ui-icon-check ui-btn-icon-left ui-btn-inline ui-mini">
            No
        </a>
    </div>

    <!--
     Notify Friends Popup
     -->
    <div data-role="popup" id="notifyFriendsPopUp" data-overlay-theme="b" data-theme="b" data-corners="true">
        <a href="#" data-rel="back" ng-click="clearNotifyFriendsFields()"
           class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">
            Close
        </a>

        <form ng-submit="notifyFriends()">
            <h3>Enter Text : </h3>
            <textarea id="notifyText" data-clear-btn="true" cols="30" rows="5"
                      placeholder="I'm on my way to the supermarket. Last chance for changes!"
                      ng-model="notifyText"></textarea>
            <button type="submit">Send Message To Friends!</button>
        </form>
    </div>

    <!--
    Share List Popup
     -->
    <div data-role="popup" id="shareListPopUp" data-theme="d" data-overlay-theme="d" class="ui-content">
        <a href="#" data-rel="back"
           class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">
            Close
        </a>
        <ul data-role="listview" data-inset="true">
            <li data-role="list-divider" data-theme="b">
                Facebook Friends
            </li>
            <li>
                <ul data-role="listview" data-split-theme="b" data-inset="true"
                    ng-repeat="myFacebookFriend in facebookFriends">
                    <li data-icon="carat-r">
                        <a ng-click="shareListWithFriend(myFacebookFriend)">
                            <img src="{{myFacebookFriend.facebookFriendPicture}}" alt="{{myFacebookFriend.facebookFriendName}}">
                            <div>
                                <h2>
                                    {{myFacebookFriend.facebookFriendName}}
                                </h2>
                            </div>
                        </a>
                        <a href=""
                           data-rel="popup"
                           data-position-to="window" data-transition="pop" data-theme="b">
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <!--
    Footer
    -->
    <div data-role="footer" data-position="fixed" data-theme="a">
        <div data-role="navbar">
            <ul>
                <li>
                    <a id="{{list.inEditMode ? 'saveListButton' : 'editListButton'}}"
                       data-icon="{{list.inEditMode ? 'check' : 'edit'}}"
                       ng-click="list.executeEditOrSaveFunction()">
                        {{list.inEditMode ? 'Save List' : 'Edit List'}}
                    </a>
                </li>
                <li>
                    <a href="#notifyFriendsPopUp" data-icon="comment" data-rel="popup" data-position-to="window"
                       data-transition="pop">
                        Notify Friends</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<script src='cordova.js' type='text/javascript'></script>
<script src="js/listContentApp.js"></script>
</body>

</html>