<!DOCTYPE html>
<html ng-app="UserListsApp">
<head>
    <title>Easy List</title>
    <meta http-equiv="Content-Security-Policy">

    <!--
    Scripts
    -->
    <script src="./JQuery/jquery-2.1.4.min.js"></script>
    <script src="./JQuery/jquery.mobile-1.4.5.min.js"></script>
    <script src="./angular/angular.min.js"></script>
    <script src="./js/energize-min.js"></script>
    <script src="./Parse/parse-1.4.2.min.js"></script>
    <script src="js/userListsApp.js"></script>
    <script src="js/easyList.js"></script>

    <!--
    CSS
    -->
    <link rel="stylesheet" href="./JQuery/jquery.mobile-1.4.5.min.css"/>
    <link rel="stylesheet" href="./JQuery/jquery.mobile.theme-1.4.5.min.css"/>



</head>
<body id="userLists" ng-controller="UserListsAppController">
<div data-role="page" data-theme="c" data-content-theme="c">

    <!--
    Menu Panel
    -->
    <div id="menuPanel" data-role="panel" data-position="left">
        <h3>Menu</h3>
        <a href="#" data-rel="close"
           class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close
        </a>

        <ul data-role="listview" data-theme="d" data-divider-theme="a" style="margin-top:-16px;" class="nav-search">
            <li>
                <a onclick="logOut()">Logout</a>
            </li>
        </ul>
    </div>

    <!--
    Create New List Panel
    -->
    <div id="createNewListPanel" data-role="panel" data-position="right">
        <h3>Create New List</h3>
        <form ng-submit="createNewList(listName)">
            <a href="#" data-rel="close" ng-click="clearCreateNewListFields()"
               class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close
            </a>

            <label for="listName">List Name:</label>
            <input type="text" name="listName" id="listName" data-clear-btn="true" placeholder="List Name..." required="true" ng-model="listNameInput">

            <button type="submit" data-theme="b">Add Product</button>
        </form>
    </div>

    <div data-role="header" data-theme="a">
        <a href="#menuPanel" data-icon="bars">Menu</a>
        <h1>Easy List</h1>
        <a href="#createNewListPanel" data-icon="plus">New List</a>
    </div>

    <div data-role="main" class="ui-content">
        <!--
        User Lists
        -->
        <ul data-role="listview" data-inset="true" ng-repeat="date in userLists">
            <!-- Divider -->
            <li data-role="list-divider" data-theme="b">
                Created At: {{date.createdDate}}
                <span class="ui-li-count">{{date.lists.length}}</span>
            </li>
            <!-- List -->
            <li ng-repeat="list in date.lists">
                <a ng-click="navigateToListContentPage(list.listId)">
                    <img src="{{list.listImage}}">
                    <h2>{{list.listName}}</h2>
                    <p>Shared users: {{list.sharedUsers.length}}</p></a>

            </li>
        </ul>
    </div>

</div>

<script src="cordova.js"></script>
</body>
</html>