<!DOCTYPE html>
<html ng-app="UserListsApp">
<head>
    <title>Easy List</title>
    <meta http-equiv="Content-Security-Policy">
    <!--<script src="cordova.js"></script>-->
    <script src='./js/index.js' type='text/javascript'></script>

    <!--
    Scripts
    -->

    <script src="./JQuery/jquery-2.1.4.min.js"></script>
    <script src="./JQuery/jquery.mobile-1.4.5.min.js"></script>
    <script src="./angular/angular.min.js"></script>
    <script src="./js/energize-min.js"></script>
    <script src="./Parse/parse-1.4.2.min.js"></script>
    <script src="./js/userListsParse.js"></script>

    <!--
    CSS
    -->
    <link rel="stylesheet" href="./JQuery/jquery.mobile-1.4.5.min.css"/>
    <link rel="stylesheet" href="./JQuery/jquery.mobile.theme-1.4.5.min.css"/>

    <script src="js/userListsApp.js"></script>

</head>
<body ng-controller="UserListsAppController as userLists">
<div data-role="page" data-theme="c" data-content-theme="c">
    <!-- Divider -->

    <ul data-role="listview" data-inset="true" ng-repeat="date in userLists.userLists">
        <li data-role="list-divider" data-theme="b">
            Created At: {{date.createdDate}}
            <span class="ui-li-count">{{date.lists.length}}</span>
        </li>
        <!-- List -->
        <li ng-repeat="list in date.lists">
            <a href="#">
                <img src="http://files.parsetfss.com/78e798b2-27ce-4608-a903-5f5baf8a0899/tfss-02790cd8-92cb-4d01-ab48-e0372541c24a-checklist.png">
                <h2>{{list.listName}}</h2>
                <p>Shared users: {{list.sharedUsers.length}}</p></a>

        </li>
        <!--<li data-role="list-divider" data-theme="b">-->
        <!--01/08/2015-->
        <!--<span class="ui-li-count">3</span>-->
        <!--</li>-->

        <!--<li><a href="#">-->
        <!--<img src="http://files.parsetfss.com/78e798b2-27ce-4608-a903-5f5baf8a0899/tfss-02790cd8-92cb-4d01-ab48-e0372541c24a-checklist.png">-->

        <!--<h2>Warning</h2>-->

        <!--<p>Hot Chip</p></a>-->
        <!--</li>-->
        <!--<li><a href="#">-->
        <!--<img src="http://files.parsetfss.com/78e798b2-27ce-4608-a903-5f5baf8a0899/tfss-02790cd8-92cb-4d01-ab48-e0372541c24a-checklist.png">-->

        <!--<h2>Wolfgang Amadeus Phoenix</h2>-->

        <!--<p>Phoenix</p></a>-->
        <!--</li>-->
    </ul>
</div>
</body>
</html>