<!DOCTYPE html>
<html ng-app="UserListsApp">
<head>
    <title>Easy List</title>
    <meta http-equiv="Content-Security-Policy">

    <!--
    Scripts
    -->

    <script src="./JQuery/jquery-2.1.4.min.js"></script>
    <script src="./JQuery/jquery.mobile-1.4.5.min.js"></script>
    <script src="./angular/angular.min.js"></script>
    <script src="./js/energize-min.js"></script>
    <script src="./Parse/parse-1.4.2.min.js"></script>
    <script src="js/easyList.js"></script>
    <script src="js/underscore.js"></script>
    <script src="js/userListsApp.js"></script>
    <!--
    CSS
    -->
    <link rel="stylesheet" href="./bootstrap/bootstrap.css"/>
    <link rel="stylesheet" href="./JQuery/jquery.mobile-1.4.5.min.css"/>
    <link rel="stylesheet" href="./JQuery/jquery.mobile.theme-1.4.5.min.css"/>

</head>
<body id="userLists" ng-controller="UserListsAppController as userLists">
<div data-role="page" data-theme="c" data-content-theme="c">

    <!--
    Menu Panel
    -->
    <div id="menuPanel" data-role="panel" data-position="left">
        <h3>Menu</h3>
        <a href="#" data-rel="close"
           class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close
        </a>

        <ul data-role="listview" data-theme="d" data-divider-theme="a" style="margin-top:-16px;" class="nav-search">
            <li ng-show=inEditMode>
                <a id="saveListsButton" ng-click="saveListsChanges()">
                    Save List
                </a>
            </li>
            <li ng-show=!inEditMode>
                <a id="editListsButton" ng-click="editLists()">
                    Edit List
                </a>
            </li>
            <li >
                <a ng-click="inviteFriendToApp()">
                    Invite Friends To Easy List
                </a>
            </li>
            <li>
                <a onclick="logOut()">Logout</a>
            </li>
            <li>
                <a onclick="exitApp()">Exit</a>
            </li>
        </ul>
    </div>

    <!--
    Create New List Panel
    -->
    <div id="createNewListPanel" data-role="panel" data-position="right">
        <h3>Create New List</h3>

        <form ng-submit="createNewList(listName)">
            <a href="#" data-rel="close" ng-click="clearCreateNewListFields()"
               class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close
            </a>

            <label for="listName">List Name:</label>
            <input type="text" name="listName" id="listName" data-clear-btn="true" placeholder="List Name..."
                   ng-model="listNameInput" ng-change="hideInvalidInputMessage()">
            <div class="ui-field-contain">
                <label style="width: 57%" for="invertedListValue"><strong>Inverted List:</strong></label>
                <select name="invertedListValue" id="invertedListValue" data-mini="false" data-role="flipswitch">
                    <option value="false">Off</option>
                    <option value="true">On</option>
                </select>
            </div>

            <div class="ui-field-contain">
                <label style="width: 57%" for="popularListValue"><strong> Popular List :</strong></label>
                <select name="popularListValue" id="popularListValue" data-mini="false" data-role="flipswitch">
                    <option value="false">Off</option>
                    <option value="true">On</option>
                </select>
            </div>

            <button type="submit" data-theme="b">Create List</button>
            <div id="invalidInputMessage" class="alert alert-danger" role="alert" hidden style="text-align: center">
                <strong> List name cannot be empty ! </strong>
            </div>

            <br><br>

            <a href="#invertedListDescription" data-rel="popup" data-transition="pop" data-theme="b"
               class="ui-btn ui-btn-inline ui-icon-info ui-btn-icon-left ui-corner-all">Inverted List</a>

            <a href="#popularListDescription" data-rel="popup" data-transition="pop" data-theme="b"
               class="ui-btn ui-btn-inline ui-icon-info ui-btn-icon-left ui-corner-all">Popular List</a>

            <div data-role="popup" id="invertedListDescription">
                <p>Give you the abillity to build a list and selecting owner for each product.</p>
            </div>

            <div data-role="popup" id="popularListDescription">
                <p>Automatically generate a new list with the most popular products</p>
            </div>
        </form>
    </div>

    <!--
     Header
    -->
    <div data-role="header" data-theme="a">
        <a id="menuButton" href="#menuPanel" data-icon="bars">Menu</a>

        <h1>Easy List</h1>
        <a id="createNewListButton" href="#createNewListPanel" data-icon="plus">New List</a>
    </div>


    <div data-role="main" class="ui-content">

        <!--
        User Lists - Not In Edit Mode
        -->
        <div ng-repeat="date in userLists | object2Array | orderBy : date.createdDate" ng-show="!inEditMode">
            <ul data-role="listview" data-inset="true">
                <!-- Divider -->
                <li data-role="list-divider" data-theme="b">
                    Created At: {{date.createdDate}}
                    <span class="ui-li-count">{{date.lists.length}}</span>
                </li>
                <!-- List -->
                <li data-icon="carat-r" ng-repeat="list in date.lists">
                    <a ng-click="navigateToListContentPage(list.listId)">
                        <img src="{{list.listImage}}">

                        <h2>{{list.listName}} {{(list.invertedList) ? ' (Inverted List)' : ''}}</h2>

                        <p>List Admin: {{list.adminUserReference.attributes.fullName}}
                            <br>
                            Shared users: {{list.sharedUsers.length-1}}
                        </p>
                    </a>

                    <a ng-click="navigateToListContentPage(list.listId)" data-theme="b">
                    </a>
                </li>
            </ul>
        </div>

        <!--
        User Lists - In Edit Mode
        -->
        <div ng-repeat="date in userLists | object2Array | orderBy : date.createdDate" ng-show="inEditMode">
            <ul data-role="listview" data-inset="true">
                <!-- Divider -->
                <li data-role="list-divider" data-theme="b">
                    Created At: {{date.createdDate}}
                    <span class="ui-li-count">{{date.lists.length}}</span>
                </li>

                <!-- List -->
                <li data-icon="{{(list.adminUserReference.attributes.username===username) ? 'delete' : 'carat-r'}}" ng-repeat="list in date.lists">
                    <a ng-click="listAction(list)">
                        <img src="{{list.listImage}}">

                        <h2>{{list.listName}} {{(list.invertedList) ? ' (Inverted List)' : ''}}</h2>

                        <p>List Admin: {{list.adminUserReference.attributes.fullName}}
                            <br>
                            Shared users: {{list.sharedUsers.length-1}}
                        </p>
                    </a>
                    <!-- List Admin -->
                    <a data-theme="{{getTheme(list)}}" ng-click="listAction(list)"></a>
                </li>
            </ul>
        </div>
        <div id="emptyListItem" class="alert alert-info" role="alert" hidden style="text-align: center"><strong> No
            Lists In Here!</strong></div>
    </div>

    <!--
    Footer - Only When In Edit Mode
    -->
    <div data-role="footer" data-position="fixed" data-theme="a" data-tap-toggle="false" ng-show="inEditMode">
        <div data-role="navbar">
            <ul>
                <li>
                    <a id="saveListsChangesButton" data-icon="check" ng-click="saveListsChanges()">
                        Save List
                    </a>
                </li>
                <li>
                    <a id="cancelEditListChangesButton" data-icon="delete" ng-click="cancelEditListsChanges()">
                        Cancel
                    </a>
                </li>
            </ul>
        </div>
    </div>


</div>


</div>

<script src="cordova.js"></script>
</body>
</html>